<template>
  <div class="movies">
    <h1>Movies</h1>
    <router-link to="/movies/create">New</router-link>
    <div>
      {{ message }}
    </div>
    <table>
      <thead>
      <tr>
        <th>title</th>
        <th>year</th>
        <th>genre</th>
      </tr>
      </thead>
      <tbody>
      <tr v-for="(movie, index) in movies" :key='index'>
        <td>{{ movie.title }}</td>
        <td>{{ movie.year }}</td>
        <td>{{ movie.genre }}</td>
        <td>
          <router-link :to="'/movies/' + movie.id ">Show</router-link>
          <router-link :to="'/movies/' + movie.id + '/update'">Update</router-link>
          <button @click="remove(movie.id)">Delete</button>
        </td>
      </tr>
      </tbody>
    </table><br>
    <p><b><router-link to="/movies/year">Go to Year tables</router-link></b></p>
  </div>
</template>

<script>
  import axios from 'axios'

  export default {
    name: 'indexMovies',
    data () {
      return {
        movies: [],
        message: ''
      }
    },

    created () {
      this.getData()
    },

    methods: {
      getData () {
        axios.get('http://localhost:8000/api/movies')
          .then(response => {
            this.movies = response.data
          })
      },

      remove (id) {
        if (confirm('Tem a certeza que quer eliminar?')) {
         axios.delete('http://localhost:8000/api/movies/' + id)
                 .then(response => {
                     this.message = response.data

                     this.movies = this.movies.filter(function (obj) {
                         return obj.id !== id
                     })
                 })
                 .catch(error => {
                     this.message = error.data
                 })
         }
      }
    }

  }
</script>

<style>
  table {
    width: 100%;
  }
  tbody {
    text-align: left;
  }
  .movies {
    border-top: 1px solid #dddddd;
  }
</style>
