<template>
  <div>
    <p><b>Title: </b> {{ movie.title }}</p>
    <p><b>Year: </b> {{ movie.year }}</p>
    <p><b>Genre: </b> {{ movie.genre }}</p><br>
    <p><b><router-link to="/movies/index">Go to Index</router-link></b></p>
    <p><b><router-link to="/movies/year">Go to Year tables</router-link></b></p>
  </div>
</template>

<script>
  import axios from 'axios'

  export default {
    name: 'showMovies',

    data () {
      return {
        movie: {
          title: '',
          year: '',
          genre: '',
        }
      }
    },

    created () {
      axios.get('http://localhost:8000/api/movies/' + this.$route.params.id)
        .then(response => {
          this.movie = response.data
        })
    }
  }
</script>
