<template>
  <div>
    <div>
      {{ message }}
    </div>
    <form v-on:submit.prevent="save">
      <p>Title: <input type="text" name="title" v-model="movie.title"></p>
      <p>Year: <input type="text" name="year" v-model="movie.year"></p>
      <p>Genre: <input type="text" name="genre" v-model="movie.genre"></p>
      <p><input type="submit" value="Update"></p>
    </form>
  </div>
</template>

<script>
  import axios from 'axios'

  export default {
    name: 'updateMovies',

    data () {
      return {
        message: '',
        movie: {
          title: '',
          year: '',
          genre: '',
        }
      }
    },

    created () {
      this.getData()
    },

    methods: {
      getData () {
        axios.get('http://localhost:8000/api/movies/' + this.$route.params.id)
          .then(response => {
            this.movie = response.data
          })
      },
      save () {
        axios.put('http://localhost:8000/api/movies/' + this.$route.params.id, {
          title: this.movie.title,
          year: this.movie.year,
          genre: this.movie.genre,
        })
        .then(response => {
          this.message = response.data
        })
        .catch(error => {
          this.message = error.data
        })
      }
    }
  }
</script>
